body{
margin: 0px;
}


.navigation_h2{
    margin: 10px;
    text-align: center;
}

.navigation_div{
    background-color: rgb(245, 237, 231);
    width: 60px;
}

.navigation_div:hover{
    background-color: rgb(226, 222, 215);
}

.navigation_container{
    background-color: rgb(245, 237, 231);
    display: flex;
    flex-direction: row;
    border-bottom: rgb(226, 222, 215) solid 1px;
}

a:active{
    background-color: rgb(226, 222, 215);
    color: rgb(226, 222, 215);;
}
